fastapi==0.111.0
uvicorn==0.29.0
sqlalchemy==2.0.30
alembic==1.13.1
asyncmy==0.2.9; sys_platform != 'win32'
aiomysql==0.3.2
PyMySQL==1.2.0
cryptography>=42.0.0
pydantic-settings==2.2.1
python-dotenv==1.0.1

